<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" >
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Home Page</h1>
    <header>
        <h3 class="pico-color-azure-500">Opciones de filtrado</h3>
        <form action="/search" method="GET">
            <label for="location">Ciudad - Población</label>
            <input type="text" name="location" id="location" required maxlength="30">
            <label for="max-price">Precio máximo por noche</label>
            <input type="number" name="max-price" id="max-price" required min="0">
            <label for="capacity">Capacidad</label>
            <select name="capacity" id="capacity">
                <option value="one-person" name="one-person-capacity">1 persona</option>
                <option value="two-persons" name="two-persons-capacity">2 personas</option>
                <option value="three-persons" name="three-persons-capacity">3 personas</option>
                <option value="four-persons" name="four-persons-capacity">4 personas</option>
            </select>
            <fieldset>
                <label for="startDate">Fecha de Inicio:</label>
                <input type="date" id="startDate" name="startDate" required>
                <label for="endDate">Fecha de Fin:</label>
                <input type="date" id="endDate" name="endDate" required>
            </fieldset>
            <input type="submit" value="Filtrar">
        </form>
    </header>
    <main class="container apartments">
        <section class="grid">
            <%for ( const apartment of apartments) { %>
                <a href="/apartment/<%= apartment._id %>">
                    <article class="card apartment">
                        <h1>
                            <%= apartment.title %>
                        </h1>
                        <img class="image-card-home" src="<%= apartment.mainPhoto %>" alt="<%= apartment.title %>">
                        <p>
                            <b><%= apartment.location %></b>
                        </p>
                        <p>
                            <%= apartment.price %> € por noche
                        </p>
                    </article>
                </a>
            <% } %>
        </section>
    </main>
</body>

</html>